html
	head
		title= title
	body
		h1= message
		div(class="monkey")
			<a class="button" href="pug_view_monkey">VIEW MONKEYS</a>
			p
			<a class="button" href="pug_create_monkey">CREATE MONKEYS</a>
			p
			<a class="button" href="pug_delete_monkey">DELETE MONKEYS</a>